:root {
  --green:rgb(70, 214, 73);
  --greenRGBA: rgba(70, 214, 73, .5);
  --green-light: #F0FEF0;
  --red: rgb(231, 68, 39);
  --redRGBA: rgba(231, 68, 39, .5);
  --red-light: #FAB8AD;
  --copyMsgColor: inherit;
}

@keyframes blink {
  0% {
    opacity: .2;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: .2;
  }
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

#xtabla-loading {
  position: fixed;
  bottom: 10%;
  right: 10%;
  display: none;
  font-size: 100px;
}

#xtabla-loading span {
  animation-name: blink;
  animation-duration: 1.4s;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
}

#xtabla-loading span:nth-child(2) {
  animation-delay: .2s;
}

#xtabla-loading span:nth-child(3) {
  animation-delay: .4s;
}

.wrap-inner {
  background: white;
  border: 1px solid #999;
  padding: 20px;
  margin: 25px 0;
}

.shortcodes-list-item {
  display: grid;
  grid-template-columns: repeat(3, 1fr) ;  
  grid-gap: 15px;
  padding: 3px 0;
  margin: 12px 0;
}

.copy-shortcode {
  display: inline-block;
  background: #ececec;
  margin: 0;
  font-family: monospace;
  padding: 3px;
  cursor: pointer;
  position: relative;
}

.copy-shortcode::after {
  display: none;
  content: attr(data-msg);
  color: var(--copyMsgColor);
  position: absolute;
  right: -60px;
}

.copy-shortcode:hover::after {
  display: inline;
}

.xtabla-editor h1 {
  background: #0074a2;
  color: white;
  margin-bottom: 0;
  padding: 10px;
  font-weight: bold;
}

.xtabla-table {
  margin-top: 0;
}

.xtabla-editor .table-wrap {
  width: 100%;
  height: 80vh;
  overflow: auto;
}

.xtabla-editor tr:first-child {
  font-weight: bold;
}

.xtabla-editor th,
.xtabla-editor td {
  position: relative;
  border: .5px solid lightgrey;
}

.xtabla-editor th:hover,
.xtabla-editor td:hover  {
  border: 1px solid #15bcf5;
  background: #e6f5fa;
  cursor: pointer;
}

.xtabla-table input {
  display: block;
}

/* .cell-wrap {
  position: relative;
} */

.cell-label
/* .add-row,
.add-col  */
{
  display: none;
  font-size: 8px;
  position: absolute;
  z-index: 12;
}

.cell-label {
  background: #15bcf5;
  color: white;
  padding: 2px 4px;
}

/* .add-row,
.add-col {
  border-radius: 100%;
} */

.shown {
  display: inline-block;
}

/* .xtabla-editor th:hover .cell-label,
.xtabla-editor td:hover .cell-label{
  display: inline;
} */

.success {
  color: limegreen;
  text-shadow: 0px 0px 2px var(--greenRGBA);
  background: #F0FEF0;
  font-weight: bold;
}

.failed {
  color: var(--red);
  text-shadow: 0px 0px 2px var(--redRGBA);
  background: var(--red-light);
  font-weight: bold;
}


.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.upload-btn {
  border: 2px solid gray;
  color: gray;
  background-color: white;
  padding: 8px 20px;
  border-radius: 8px;
  font-size: 20px;
  font-weight: bold;
}

.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.hidden-cell-val {
  display: none;
}

.xtabla-table td {
  vertical-align: middle;
}

.xtabla-table .dashicons-media-spreadsheet {
  font-size: 50px;
  display: block;
  height: 50px;
  width: 50px;
}

.download-file-icon {
  display: block;
  height: 35px;
  width: auto;
  margin: 0 auto;
}

.add,
.delete {
  margin: 12px 5px 12px 0 !important;
}