.wrap-inner {
  background: white;
  border: 1px solid #999;
  padding: 20px;
  margin: 25px 0;
}

.shortcodes-list-item {
  display: grid;
  grid-template-columns: repeat(3, 1fr) ;  
  grid-gap: 15px;
  padding: 3px 0;
  margin: 12px 0;
}

.xtabla-editor th,
.xtabla-editor td {
  /* border: 1px solid #e6f5fa; */
}

.xtabla-editor th:hover,
.xtabla-editor td:hover  {
  border: 1px solid #15bcf5;
  background: #e6f5fa;
}