.hidden-cell-val {
  display: none;
}

.xtable-table td {
  vertical-align: middle;
}

.xtable-table .dashicons-media-spreadsheet {
  font-size: 50px;
  display: block;
  height: 50px;
  width: 50px;
}

.download-file-icon {
  display: block;
  height: 35px;
  width: auto;
  margin: 0 auto;
  background: #0074AD; 
  padding: 4px;
  border-radius: 5px;
}

.xtable-table tr:nth-child(even) {
  background: #fafafa;
}
